@import "../abstracts/variables";
@import "../abstracts/mixins";
.education__timeline {
  position: relative;
  max-width: 400px;
  margin: 50px auto;
  figure {
    width: fit-content;
    img {
      position: absolute;
      z-index: 1;
      top: 32px;
      left: -15px;
      width: 3.0625rem;
      height: 3.0625rem;
      border-radius: 50%;
    }
    figcaption{
        position: absolute;
        z-index: 1;
        top: 48px;
        left: -10px;
        font-size: 15px;
        color: white;
        font-weight: 600;
    }
  }
  .container {
    width: 70%;
    padding: 10px 0px;
    margin: 10px 50px;
    text-align: center;
    .container__text {
      @include neo(20px, 5px, $bg-elements, $bg-color-2);
      padding: 20px 30px;
      margin-left: 20px;
      position: relative;
      font-size: 15px;


        .link-pdf {
          display: block;
          color: $color-nav-active;
          margin: 15px 0px;
          padding: 10px 0px;
          font-weight: 600;
          font-size: 15px;
          text-align: center;
          transition: color 500ms ease-in-out;
          cursor: pointer;
          &:hover,
          &:active {
            color: white;
          }
        }
      
      small {
        display: inline-block;
        margin-bottom: 15px;
        font-style: italic;
        font-size: 14px;
        font-weight: 500;
        color: $color-paragraph;
        span{
            font-weight: 700;
            color: $bg-color;
        }
      }
      .container-arrow{
        height: 0;
        width: 0;
        position: absolute;
        top: 37px;
        left: -27px;
        z-index: 1;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid white;
        animation: arrow 500ms alternate infinite;
      }
    }
  }
}

@keyframes arrow {
    from{
        left: -27px;
    }
    to{
        left: -34px;
    }
}
