@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');

$bg-general: #251D44;
$bg-elements:#333333;
$bg-color: #cf649a;
$bg-color-2:#a23b6f;

$color1: #D93954;
$color2:#F2B138;
$color2-hover:#efa7218f;
$color-paragraph:#6f878b;
$color-nav-link: rgb(3, 3, 3);
$color-nav-active:#01bc7ac7;


$font:'Prompt', sans-serif;